@page "/quests"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage BrowserStorage

<PageTitle>Quests</PageTitle>

@using Tarkov.Common;
@using Tarkov;
@using Tarkov.Dictionaries;
@using Tarkov.Entities;
@using TarkovTracker.Data;


@if (updating)
{
    <h2>Active Quests (Updating...)</h2>
}
else
{
    <h2>Active Quests</h2>
}

@if (quests == null || quests.Count <= 0)
{
    <p><em>No active quests to show!</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Trader</th>
                <th>Title</th>
                <th>Description</th>
                <th>Maps</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (Quest quest in quests)
        {
            if (quest != null)
            {
                <tr>
                    <td>@quest.Trader.Name</td>
                    <td>@quest.Name</td>

                    <td width="60%">
                    @foreach (var obj in quest.Objectives)
                    {
                        @obj.Description<br />
                    }
                    </td>
                    @if (quest.Map != null)
                    {
                        <td>@quest.Map.Name</td>
                    }
                    else
                    {
                        <td>Any Location</td>
                    }
                    <button class="btn btn-primary" href="/view">Info</button>
                    <button class="btn btn-primary" @onclick="() => CompleteTaskAsync(quest.Id)">Complete</button>
                </tr>
            }
        }
        </tbody>
    </table>
}

@code {
    private Api tarkov = Api.GetTarkov();
    private Quest[]? allQuests;
    private List<string>? completedQuests;
    private List<RQuest>? questMap;
    private int currentLevel;
    private Dictionary<string, int> currentTraders;

    private List<Quest>? quests;
    private bool updating = true;

    protected override async Task OnAfterRenderAsync(bool bFirstRender)
    {
        if (bFirstRender) await InitialiseAsync();
    }

    private async Task CompleteTaskAsync(string id)
    {
        completedQuests.Add(id);
        updating = true;
        await BrowserStorage.SetAsync(StorageNames.CompletedTasks, completedQuests);
        await UpdateAsync();
    }

    private async Task InitialiseAsync()
    {
        var lresult = await BrowserStorage.GetAsync<int>(StorageNames.PlayerLevel);
        currentLevel = lresult.Success ? lresult.Value : 1;

        var tlresult = await BrowserStorage.GetAsync<Dictionary<string, int>>(StorageNames.TraderLevels);
        currentTraders = tlresult.Success ? tlresult.Value : Traders.GetFreshTraders();

        var fresult = await BrowserStorage.GetAsync<string>(StorageNames.PlayerFaction);
        string faction = fresult.Success ? fresult.Value : "USEC";

        allQuests = await tarkov.GetTasksAsync(true, faction);

        var cresult = await BrowserStorage.GetAsync<List<string>>(StorageNames.CompletedTasks);
        completedQuests = cresult.Success ? cresult.Value : new List<string>();

        await UpdateAsync();
    }

    private async Task UpdateAsync()
    {
        questMap = QuestMap.GetQuestMap(allQuests, completedQuests);
        List<Quest> updatedQuests = new List<Quest>();
        foreach (RQuest q in questMap)
        {
            if (q.IsUnlocked(currentLevel, currentTraders) && !completedQuests.Contains(q.Id))
            {
                updatedQuests.Add(await tarkov.GetTaskAsync(q.Id));
            }
        }
        quests = updatedQuests;
        updating = false;
        StateHasChanged();
    }
}
