@page "/quest/{Id}"
@using Tarkov;
@using Tarkov.Entities;

@if (quest != null)
{
	<PageTitle>Quest - @quest.Name</PageTitle>
	<h2>Quest - @quest.Name</h2>
	<a href="quests"><button class="btn btn-primary">Return to Quests</button></a>
	<br />
	<br />
		<iframe src="@quest.WikiLink" title="@quest.Name - Wiki" style="display: block; width=100vw; height=100vh; border=none;"></iframe>
}
else
{
	<h2>Quest could not be found...</h2>
	<a href="quests"><button class="btn btn-primary">Return to Quests</button></a>
	<br>
	<a href="quests">The quest may take a while to load... If it has not loaded within 30 seconds, click to go back.</a>
}

@code
{
	Api tarkov = Api.GetTarkov();
	Quest quest;

	[Parameter]
	public string Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		quest = await tarkov.GetTaskAsync(Id);
	}
}