@inherits LayoutComponentBase

<PageTitle>TarkovTracker</PageTitle>

<StatusSignal />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="max-width:1000px;">
            @Body
        </article>
    </main>
</div>
